.skills{
    width: 100%;
    padding: 20px 0 20px 0 ;
}

.skills-container{
    
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(8rem,1fr));
    grid-row-gap: 12px;
    justify-items: center;
    align-items: center;


}

.Tech{

    width: 100px;
    display: flex;
    justify-items: center;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    border: 2px var(--border-color) solid;
    border-radius: 10%;
}

.icon{
    width: 60px;
    height: 60px;

}
.express {
    background-color: black; /* defines the background color of the image */
    mask: url(/src/Icons/ExpressJs.svg) no-repeat center / contain;
    -webkit-mask: url(/src/Icons/ExpressJs.svg) no-repeat center /contain;
}
[data-theme="dark"]  .express{
    background-color: white;
}

