nav{
   position: sticky;
    height: 62px;
    display: flex;
    background-color: beige;
    width: 100vw;
    align-items: center;

}
ul{
    list-style: none;
    margin: 0;
    padding: 0;
    width: inherit;
    height: inherit;
   justify-content: center;
}
.flex-row{
    display: flex;
    flex-direction: row;
}
nav ul li:hover{
    background-color: wheat;
}
nav ul {
    text-decoration: none;
    height: 100%;

}
li{
    line-height: 100%;
     display: flex;
    align-items: center;
    padding:0 20px;

}

