.nav{
    position: sticky;
    top: 0;
    height: 62px;
    display: flex;
    background-color: var(--body-background);
    width: 100%;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 -1px 5px #b4b4b4;
    font-family: var(--font-family);
    z-index: 50;

}
.subnav{
    display: flex;
    align-content: center;
    justify-content: center;

}
.name {
    margin: 0 10px;
    font-size: 24px;
    font-weight: 800;

}
.swithButton{
    display: flex;
    justify-content: center;
    border:none;
    text-align: center;
    align-content: center;
}
.iconTheme{
    width: 20px;
    height: 20px;
}
ul{
    list-style: none;
    margin: 0;
    padding: 0;
    width: auto;
    justify-content: center;
    font-weight: 800;
    text-decoration: none;
    height: 100%;
    animation: none !important;
    transition: none !important;
}
.nav-flex{
    display: flex;
    flex-direction: row;
}
 ul li:hover {
    cursor: pointer;
    color: #ffc352;
}
.active span{
    color: var(--link-color)!important;
}
.active span:after{


    width: 80%;
    margin: auto;
    transition:width 200ms linear;
    border-bottom: 2px solid var(--link-color);
}

a{
    display: block;
    text-decoration: none;

}


li{
    text-decoration: none;
    line-height: 100%;
    display: flex;
    align-items: center;

    padding:0 20px;
}
li span{
    position: relative;
    padding: 4px;
    border-bottom: 2px solid transparent;
}li span:after{
     position: absolute;
     content: "";
     top: 0;
     left: 50%;
    transform: translateX(-50%);
    width: 0;
    height: 100%;
}
.closeNav,.openNav{
    display: none;
}
.display{
    display: block;
}
.openNav button{

    font-weight: bolder;
    border: none;
    outline: none;
    font-size: large;

}
.openNav{
    padding: 0 5px;
}

@media  screen and  (max-width: 720px){
    .closeNav,.openNav{
        display: block;
        border: none;
        outline: none;

    }
    .closeNav{
        position: fixed;
        left: 5px;
        top:0;

        background-color: white;
        z-index: 2;
        justify-content: center;
        display: flex;
        height: 50px;
        animation: none;

    }
    .closeNav button{

        font-weight: bolder;
        border: none;
        outline: none;
        font-size: x-large;

    }
    .openNav:hover{
        cursor: pointer;
    }

    .nav-flex{
        display: flex;
        flex-direction: column;
    }
    nav{
        display: none;
        position:fixed;
        height: 100vh;
        width: 100vw;
        background-color:rgb(0,0,0,50%);
        top:0;
        left: 0;
        z-index: 2;
    }
    .openNav:hover + nav{
        display: block ;
    }
    ul{
        position: fixed;
        background:var(--body-background);
        height: 100%;
        justify-content: start;
        padding: 10px 5px;
        width: 80%;
        animation: 1s ease-out 0s 1 slideInFromLeft !important;
    }

    li{
        align-content: center;
        padding: 10px 0;
        font-size: large;
        justify-content: center;
    }
    .name {
        margin: 0 10px;
        font-size: x-large;
        font-weight: bold;

    }
}
.out{
    animation: 1s ease-out 0s 1 slidetoRight !important;
}
@keyframes slideInFromLeft {
    0% {
        transform: translateX(-100%);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 100%;
    }
}
@keyframes slidetoRight {
    0% {
        transform: translateX(0);
        opacity: 100%;
    }
    100% {
        transform: translateX(-100%);
        opacity: 0;
    }
}
[data-theme='dark'] .openNav button,[data-theme='dark'] .closeNav button{
    color: var(--color);
    border: none;
    outline: none;
    border-radius: 0;
}