.myPhoto{
    display: block;
    width: 180px;
    height: 180px;
    margin: auto;
    border-radius: 50%;
}
.items{

    display: flex;
    height: 100%;
    width: 100%;
    z-index: 10;
    justify-content: center;
    align-items: center;
}
.container {
    position: absolute;
    width: 100%;
    display: grid;
    z-index: 1;
    grid-template-columns: repeat(auto-fit,minmax(12rem,1fr));
    height: 100%;

}
.body{
    position: relative;
    height: 400px;
    width: 100%;

}
.text{
    position: relative;
    font-size: x-large;
    color: var(--color);
    font-weight: bold;
    margin: 0;
    margin-block-end:0;
    margin-block-start:0;
    width: 100%;
    justify-self: start;
}
:root{
    --color: #a81f41;
}
[data-theme="dark"] {
    --color: #c1bfbd;
    --link-color:#0a86da;
    --link-white-color:#c1bfbd;
    --bg-color: #333;
}

