.project{
    border: 1px solid #d5d3d3;
    border-radius: 5px;
    box-shadow: 1px 1px 1px #e8e7e7;
    padding: 10px;
    background-color: #ffffff;
    grid-column: span ;
    justify-self: stretch;
}

.project p{
padding: 0;
}
.btn-code{
    border-color: #06f506;
    color: #06f506;
}
.btn-code:hover{
    background: #06f506;
    color: white;
}
.btn-demo{
    border-color: yellow;
    color: yellow;
}
.btn-demo:hover{
    background: yellow;
    color: white;

}
.project-description{
    padding: 10px;
}

.projectTitle{
    padding: 10px 5px 5px;

    font-size: large;
    font-weight: bold;
}
.flex{
    display: flex;
    align-items: center;
}
.gap-5{
   gap: 5px;
}
button{
    background: white;
    border: 1px solid;
    border-radius: 5px;
    padding:10px 10px 10px 10px;
}
.projects{
    position: relative;
    display: grid;
    grid-template-columns:  repeat(3,1fr);
    width: 100vm;
    gap: 4px;
    grid-column-gap: 10px;
    padding:var(--pading);

}
.backgroung{
    background-color: #f1f0f0;
    padding:20px;
}

@media screen and (max-width: 720px){
    .projects{
        grid-template-columns:  1fr

    }
}