.project{
    border: 1px solid var(--border-color) ;
    border-radius: 5px;
    box-shadow:1px 1px 1px var(--shadow);
    padding: 10px;
    justify-self: stretch;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}


.btn-code{
    border-color: #06f526;
    color: #06f506;
}
.btn-code:hover{
    background: #06f506;
    color: white;
}
.btn-demo{
    border-color: #ff8800;
    color:  #ff8800;
}
.btn-demo:hover{
    background:#ff8800;
    color: white;

}
.project-description{
    padding: 10px 10px;
    height:100%;
}

.projectTitle{
    padding: 10px 5px 5px;

    font-size: large;
    font-weight: bold;
}
.btnContainer{
    display: flex;
    align-items: center;
    margin: 0 10px;
    gap: 10px;
    align-self: flex-end;
    padding: 5px 0;
    justify-self: end;

}

button{
    background: var(--body-background);
    border: 1px solid;
    border-radius: 5px;
    padding:10px 10px 10px 10px;
}
.projects{
    position: relative;
    display: grid;
    grid-template-columns:  repeat(3,1fr);
    width: 100vm;
    gap: 4px;
    row-gap: 10px;
    grid-column-gap: 10px;
    padding:var(--pading);

}
.backgroung{
    background-color: #f1f0f0;
    padding:20px;
}

@media screen and (max-width: 720px){
    .projects{
        grid-template-columns:  1fr

    }
}