body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--body-background);
}
body,html{
  height: 100%;
max-width: 100vw;
}
*,html{
  scrollbar:none;
  max-width: 100%;
  margin:0;
  padding: 0;

}
p,span{
  color: var(--font-color) !important;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.section{
  padding:20px;

}
.load{
  position: relative;
  width: 100%;
  display: flex;
  padding: 10px 0;
  justify-content: center;
}

.loadMore{
  display: flex;
  align-items: center;
  border: none;
  margin: 0 4px 0 4px;
  font-weight: bold;
  font-size: large;
  gap: 4px;

}
.loadicon{
  width: 20px;
  height: 20px;

}
[data-theme='dark'] .loadicon{
  color: white;
}
.loadMore:hover{
  cursor: pointer;
  color: #0a86da;
}
*{
  font-family: var(--font-family);
}
:root{
  --font-family:"Century Gothic", CenturyGothic, AppleGothic, sans-serif;
  --pading:0 20px 0 20px;
  --font-color:black;
  --grid-column:repeat(auto-fit,minmax(15rem,1fr));;
  --color: #000000;
  --link-color:  #ff8800;
  --facebook-color: #0a86da;
  --fiver-color: #06f506;
  --twitter-color: #00c0ff;
  --linken-color: #0093fc;
  --body-background:rgba(246, 245, 245);
  --triangle-color:#faf61e;
  --border-color:#d5d3d3;
  --shadow:#e8e7e7m
}
[data-theme="dark"] {
  --color: #c1bfbd;
  --font-color:#c1bfbd;
  --link-color:#0a86da;
  --link-white-color:#c1bfbd;
  --bg-color: #333;
  --body-background: rgb(0, 2, 10);
  --triangle-color:#0a86da;
  --border-color: #525259;
  --shadow: #09102d;
}
.section_title{
  padding: 20px;
  font-size: xx-large;
  font-family: var(--font-family);
  font-weight: bold;
  margin: 0;
}
a{

  color: inherit;
  text-decoration: inherit;
}
::-webkit-scrollbar {
  display: none;
}

@media screen and (max-width: 720px) {
  .section{
    padding: 20px 0;
  }

}